html,body{
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
    /* background: #dde6f0; */
}
.circular{
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    transform: scale(2);
}
.circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #dde6f0;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgb(0, 0,0,0.2);
}
.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius:100%;
    clip: rect(0px,100px,100px,50px);
}
.cicle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius:100%;
    clip: rect(0px,100px,100px,50px);
    background: #4158d0;
}
.cicle .left .progress{
    z-index: 1;
    animation: left 4s linear both;
}
@keyframes left{
    100%{
        transform: rotate(180deg);
    }
}
.cicle .right{
    z-index: 3;
    transform: rotate(180deg);
    animation: right 4s linear both;
}
.cicle .right .progress{
    z-index: 3;
}