html,body{
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
}
.circular{
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    transform: scale(2);
}
.circular .inner{
    position: absolute;
}