html,body{
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
}
.circular{
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    transform: scale(2);
}
.circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #dde6f0;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgb(0, 0,0,0.2);
}
.circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    /* -webkit-border-radius:100%; */
}